{% extends "layout.html" %}

{% block title %}
Patient: {{ name }}
{% endblock %}

{% block body %}

<h1>Patient {{ name }}</h1>

<h2>Notes:</h2>

<p>
{{ notes }}
</p>

<h2>HLA Types</h2>
<table>
    <tr>
        <th>Allele</th>
        <th>MHC Class</th>
    </tr>
    {% for hla_type in hla_types %}
    <tr>
        <td>{{ hla_type.allele }}</td>
        <td>{{ hla_type.mhc_class }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Variants</h2>
<table>
    <tr>
        <th>chr</th>
        <th>pos</th>
        <th>ref</th>
        <th>alt</th>
    </tr>
    {% for variant in variants %}
    <tr>
        <td>{{ variant.chr }}</td>
        <td>{{ variant.pos }}</td>
        <td>{{ variant.ref }}</td>
        <td>{{ variant.alt }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
