{% extends "layout.html" %}

{% block title %}
Patient ID: {{patient_id}}
{%endblock %}

{% block body %}
<div>
Variant filename: {{variant_filename}}
</div>
<h2>
Variants
</h2>
<ul>

<table>
<tr>
    <th>chr</th>
    <th>pos</th>
    <th>ref</th>
    <th>alt</th>
    <th>qual</th>
    <th>filter</th>
</tr>

{% for row in vcf %}
<tr>
    <td>{{row.chr}}</td>
    <td>{{row.pos}}</td>
    <td>{{row.ref}}</td>
    <td>{{row.alt}}</td>
    <td>{{row.qual}}</td>
    <td>{{row['filter']}}</td>
</tr>
{% endfor %}

</table>
{% endblock %}