{% extends "layout.html" %}

{% block title %}
Patient {{ display_id }}
{% endblock %}

{% block pagetitle %}
Patient {{ display_id }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/peptides.css">
{% endblock %}

{% block sidebar %}
<li class="active"><a href="{{ url_for('patient', display_id=display_id) }}">{{ display_id }}</a></li>
<li><a href="{{ url_for('hla_types', display_id=display_id) }}">HLA Types</a></li>
<li><a href="{{ url_for('variants', display_id=display_id) }}">Variants</a></li>
<li><a href="{{ url_for('export', display_id=display_id) }}">Export Peptides</a></li>
{% endblock %}

{% block content %}
<div id="peptides-list">
  Binding threshold:
  <input type="range" id="slider" value="500" min="1" max="2500">
  &nbsp;&nbsp;
  <span id="slider-type"></span>
  <span id="tval">500</span><span id="suffix">nM</span>&nbsp;
  <button id="toggle-transcripts">Hide Details</button>
  <select name="sort-value">
      <option selected value="ic50">IC50</option>
      <option value="percentile">Percentile</option>
  </select>
  <span id="close-inspector" title="Close inspector.">&times;</span>
  <div id="peptides"></div>
</div>

<script src="/static/js/d3.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/peptides.js"></script>
<script>
vaccine_peptide_array = [
  {% for peptide in peptides %}
    {
      chr: "{{ peptide['chr'] }}",
      pos: {{ peptide['pos'] }},
      ref: "{{ peptide['ref'] }}",
      alt: "{{ peptide['alt'] }}",
      sequence: "{{ peptide['Peptide'] }}",
      length : "{{ peptide['Peptide']|length }}",
      mutation : "{{ peptide['PeptideMutationInfo'] }}",
      gene : "{{ peptide['Gene'] }}",
      transcriptId : "{{ peptide['TranscriptId'] }}",
      description : "{{ peptide['Description'] }}",
      mutStart: {{ peptide['MutationStart'] }},
      mutEnd : {{ peptide['MutationEnd'] }},
      epitopes: [
        {% for epitope in peptide['Epitopes'] %}
          {
            start: {{ epitope['EpitopeStart'] }},
            length: {{ epitope['EpitopeEnd'] - epitope['EpitopeStart'] }},
            scores: {
              {% for score in epitope['MHC_Allele_Scores'] %}
                "{{ score['Allele'] }}" : {
                   percentile : {{ score[PERCENTILE_RANK_FIELD_NAME] }},
                   bindingScore : {{ score[IC50_FIELD_NAME] }}
                },
              {% endfor %}
            },
            sequence: "{{ epitope['Epitope'] }}",
          },
        {% endfor %}
      ],
    },
  {% endfor %}
];
peptides.run(vaccine_peptide_array);
</script>
{% endblock %}
