{% extends "layout.html" %}

{% block title %}
Add Patient
{% endblock %}

{% block pagetitle %}
Add Patient
{% endblock %}

{% block content %}
{{ form.errors }}

<form role="form" action="" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="form-group col-lg-1">
      {{ form.display_id.label }}
      {{ form.display_id }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-1">
    {{ form.vcf_file.label }}
    {{ form.vcf_file }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-1">
    {{ form.hla_file.label }}
    {{ form.hla_file }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-1">
    {{ form.submit }}
    </div>
  </div>
</form>
{% endblock %}
