<!DOCTYPE html>
<html>
  <head>
    <title>Peptides</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" media="all" href="viz/style.css" />
  </head>

  <body>
    <div id="tooltip">
      This is a test tooltip. Is this cool? This seems cool.
      <br/>
      We cool.
      <div id="tt-arrow"></div>
    </div>

    <div id="info">
      <span class="b">Filename</span>
      <span class="i">_peptide_pt_011812359.txt</span>
      <br/>
      <span class="b">Date Run</span>
      <span class="i">06/14/2014</span>
      <br/>
      <span class="b">ImmunoID SHA1</span>
      <span class="i">dc03928577b1b2f0b598154aa55f592fcd0dc69f</span>
    </div>

    <div id="peptides-list">
      <input type="range" id="threshold" value="90" min="1" max="99">
      &nbsp;&nbsp;
      Binding score threshold:
      <span id="tval">90</span><span class="suffix">th</span> percentile.
      <span id="close-inspector" title="Close inspector.">&times;</span>

      <div id="peptides"></div>
    </div>

    <script src="viz/d3.min.js"></script>
    <script src="viz/underscore-min.js"></script>
    <script src="viz/peptides.js"></script>
    <script>
 
      vaccine_peptide_array = [
        % for peptide in peptides.to_records():
          {
            sequence: "${peptide.Peptide}", 
            length : ${peptide.PeptideEnd - peptide.PeptideStart},
            mutation : "${peptide.MutationInfo}", 
            gene : "${peptide.GeneInfo}",
            mutStart: ${peptide.PeptideMutationStart}, 
            mutEnd : ${peptide.PeptideMutationStart} + 1, //${peptide.PeptideMutationEnd},
            epitopes: [
              % for epitope in peptide.epitopes.to_records():
                {
                  start: ${epitope.EpitopeStart}, 
                  length: ${epitope.EpitopeEnd} - ${epitope.EpitopeStart}, 
                  scores: {
                    'HLA-A*34:01': {percentile: _.random(100), bindingScore: _.random(0, 1000)},
                    'HLA-A*02:01': {percentile: _.random(100), bindingScore: _.random(0, 1000)},
                    'HLA-B*12:09': {percentile: _.random(100), bindingScore: _.random(0, 1000)},
                    'HLA-B*07:21': {percentile: _.random(100), bindingScore: _.random(0, 1000)},
                    'HLA-C*19:13': {percentile: _.random(100), bindingScore: _.random(0, 1000)},
                    'HLA-C*11:11': {percentile: _.random(100), bindingScore: _.random(0, 1000)}
                  }
                  , 
                  sequence: "${epitope.Epitope}",
                },
              % endfor 
            ], 
          }, 
        % endfor 
      ];
      peptides.run(vaccine_peptide_array);
    </script>
  </body>
</html>
