<!DOCTYPE html>
<html>
  <head>
    <title>Peptides</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" media="all" href="viz/style.css" />
  </head>

  <body>
    <div id="tooltip">
      This is a test tooltip. Is this cool? This seems cool.
      <br/>
      We cool.
      <div id="tt-arrow"></div>
    </div>

    <div id="info">
      <span class="b">Filename</span>
      <span class="i">${vcf_filename}</span>
      <br/>
      <span class="b">Date Run</span>
      <%! from time import strftime as time %>
      <span class="i">${"%B %d, %Y" | time}</span>
      <br/>
      <!-- 
      <span class="b">ImmunoID SHA1</span>
      <span class="i">dc03928577b1b2f0b598154aa55f592fcd0dc69f</span>
      --> 
    </div>


  <div id="peptides-list">
      Binding threshold:
      <input type="range" id="slider" value="500" min="1" max="2500">
      &nbsp;&nbsp;
      <span id="slider-type"></span>
      <span id="tval">500</span><span id="suffix">nM</span>&nbsp; 
      <select name="sort-value">
          <option selected value="ic50">IC50</option>
          <option value="percentile">Percentile</option>
      </select>
      <!-- 
      <input type="radio" name="sort-value" value="percentile" checked>Percentile<br>
      <input type="radio" name="sort-value" value="ic50">IC50
      -->
      <span id="close-inspector" title="Close inspector.">&times;</span>

      <div id="peptides"></div>
    </div>

    <script src="viz/d3.min.js"></script>
    <script src="viz/underscore-min.js"></script>
    <script src="viz/peptides.js"></script>
    <script>
 
      vaccine_peptide_array = [
        % for peptide in peptides:
          {
            sequence: "${peptide['Peptide']}", 
            length : ${len(peptide['Peptide'])},
            mutation : "${peptide['MutationInfo']}", 
            gene : "${peptide['Gene']}",
            transcriptId : "${peptide['TranscriptId']}",
            description : "${peptide['Description']}",
            mutStart: ${peptide['MutationStart']}, 
            mutEnd : ${peptide['MutationEnd']},
            epitopes: [
              % for epitope in peptide['Epitopes']:
                {
                  start: ${epitope['EpitopeStart']}, 
                  length: ${epitope['EpitopeEnd'] - epitope['EpitopeStart']}, 
                  scores: {
                    % for score in epitope['MHC_Allele_Scores']:
                      "${score['Allele']}" : { 
                         percentile : ${score['MHC_PercentileRank']}, 
                         bindingScore : ${score['MHC_IC50']}
                      },
                    % endfor 
                  }, 
                  sequence: "${epitope['Epitope']}",
                },
              % endfor 
            ], 
          }, 
        % endfor 
      ];
      peptides.run(vaccine_peptide_array);
    </script>
  </body>
</html>
