body {
    background: #f9a6g6;
    font-family: Helvetica;
}

#controls {
    margin-bottom: 20px;
}

.peptide text.sequence {
    font-family: monospace;
    font-size: 1.2em;
}

#peptide {
    font-family: monospace;
    font-size: 1.2em;
}

.mutation {
    fill: red;
    font-weight: 700;
}

path {
    stroke: black;
    stroke-width: 1;
}

text.gene {
    font-weight: bold;
}

.epitope {
    font-family: monospace;
}

.epitope rect.passing-epitope {
    fill: #a5ff30;
    opacity: 0.22;
}

.epitope .ep-score-chart rect {
/*    fill: #fdffcc; */
    fill: #ddd;
}

.epitope .ep-score-threshold {
    stroke: black;
    stroke-width: 0.2;
}

.peptide.selected > text {
    font-weight: bold;
}

span.b {
    font-weight: bold;
}

span.b:after {
    content: ":  ";
}

span.i {
    font-style: italic;
}

div#info {
    margin: 23px;
}

div#peptide {
    display: none;
    padding: 17px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

div#peptides-list {
}

span#close-inspector {
    margin-left: 550px;
    display: none;
    font-size: 1.5em;
    color: #4d4d4d;
    cursor: pointer;
}

/* Epitope Info */
#epitope-info-window rect {
    fill: white;
}

body.epitope-body {
    color: black;
    padding-top: 0;
    margin-top: 0;
    font-size: 11px;
}

body.epitope-body table {
    margin: 0 auto;
}

body.epitope-body thead {
    font-weight: bold;
}

body.epitope-body td {
    padding: 1px 5px;
}
